.table-wrapper {
  margin-bottom: 24px;

  @media (max-width: $medium-screen-width - 1) {
    height: 600px;
    overflow-x: auto;
    overflow-y: auto;
  }
}

.usersTable {
  width: 100%;
  border-width: 1px;
  border-collapse: collapse;
  border-radius: $small-radius;
  overflow: hidden;
}

.usersTable tr {
  cursor: pointer;
}

.usersTable tr:nth-child(even) {
  background-color: $secondary-ligth-theme-color;
}

.usersTable th {
  @include font-settings(10px, 1.25);
  padding: 14px 4px;
  background-color: #3a80ba;
  color: #fff;
  font-weight: normal;
  border-right: 1px solid #fff;

  @media (min-width: $large-screen-width) {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.usersTable th:last-child {
  border-right: none;
}

.usersTable td {
  @include font-settings(10px, 1.25);
  padding: 6px 4px;
  text-align: center;
  border-left: 1px solid #fff;
  border-collapse: collapse;

  @media (min-width: $large-screen-width) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
