/// FONTS STACKS
$main-font-stack: "Montserrat", sans-serif;

/// BASIC COLORS
$white: #ffffff;
$very-light: #fbfbfb;
$light: #f1f1f1;
$light-grey: #cccccc;
$grey: #b9b9b9;
$dark-grey: #7e7e7e;
$dark: #1a1a1a;

$light-blue: #3a80ba;
$blue: #255d8c;
$dark-blue: #255d8b;
$very-dark-blue: #1c3b55;

/// text colors
$light-text: $white;
$primary-dark-text: $dark;
$secondary-dark-text: $dark-grey;
$blue-text: $light-blue;

/// theme colors
$main-theme-color: $light-blue;
$main-ligth-theme-color: $white;
$secondary-ligth-theme-color: $light;
$grey-accent-color: $light-grey;

/// BASIC SIZES
/// Breakpoints
$medium-screen-width: 768px;
$large-screen-width: 1200px;
/// Containers
$small-container: 320px;
$medium-container: $medium-screen-width;
$large-container: $large-screen-width;
/// Paddings
$small-padding: 10px;
$medium-padding: 20px;
$large-padding: 130px;
// Font (size = number * 4px)
$size-4: 16px;
$size-5: 20px;
$size-6: 24px;
$size-8: 32px;
$size-10: 40px;
$size-12: 48px;
$size-14: 56px;
// Border-radius
$small-radius: 8px;
