.benefits-section {
  padding-top: 16px;
  padding-bottom: 107px;
  text-align: center;
}

/* -- Section headers -- */

.benefits-section__header {
  margin-bottom: 2.5rem;
}

.benefits-section__title {
  @include font-settings($size-8, 1.219);
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: normal;

  &--bold {
    font-weight: bold;
  }

  @media (min-width: $medium-screen-width) {
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px;
    width: 580px;
  }
}

.benefits-section__lead {
  @include font-settings($size-5, 1.4);
  margin: 0;
  color: $secondary-dark-text;

  @media (min-width: $large-screen-width) {
    margin-right: auto;
    margin-left: auto;
    width: 780px;
  }
}

/* -- list of benefits -- */

.benefits__list {
  @extend %list;

  @media (min-width: $medium-screen-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.benefit__item {
  padding: 48px 32px;
  width: 280px;
  border-radius: $small-radius * 4;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $medium-screen-width) {
    width: 380px;
  }

  @media (min-width: $large-screen-width) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}

/* -- benefits icons -- */

$icons: design, security, retina;
@include generate-pseudo-icons-BS(
  "benefit__name--",
  $icons,
  "../../pages/HomePage/components/BenefitsSection/images/",
  "svg"
);

/* -- benefits info -- */

.benefit__name {
  @include font-settings($size-6, 1.208);
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
}

.benefit__desc {
  margin: 0;
  color: $secondary-dark-text;
  line-height: 1.4;
}
