// *** HEADER ***
.homePage-header {
  @include bg-image(
    "../../pages/HomePage/components/Header/images/header-bg.jpg"
  );
}

.homePage-header__wrapper {
  padding-top: 24px;
  padding-bottom: 4px;
}

.homePage-header__inner {
  @media (min-width: $medium-screen-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

// *** LOGO ***
.logo {
  margin: 0;
}

.logo__link {
  @extend %link;
  @include font-settings($size-10, 1.225);
  color: $light-text;
  font-weight: normal;
}

// *** INFO BLOCK ***
.header__info-block {
  padding: 48px 0;
  color: $light-text;

  @media (min-width: $large-screen-width) {
    flex-basis: 586px;
  }
}

// ** Header Subject **

.header__subject {
  @include font-settings($size-8, 1.229);
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: normal;

  &--bold {
    font-weight: bold;
  }

  @media (min-width: $large-screen-width) {
    @include font-settings($size-12, 1.229);
  }
}

// ** Header Lead **

.header__lead {
  @include font-settings($size-5, 1.4);
  margin-top: 0;
  margin-bottom: 2rem;
}

// ** Header Stats Link **

.header__stats-link-wrapper {
  @media (max-width: ($medium-screen-width - 1px)) {
    text-align: center;
  }
}

.header__stats-link {
  @extend %link;
  @include button($main-ligth-theme-color, $blue-text, 154px);
}

// *** SMARTPFONE IMAGE ***

.page-header__img {
  @media (min-width: $large-screen-width) {
    width: 360px;
  }
}
