.reactPaginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.reactPaginate li {
  @include size(3rem);
  display: inline-block;
  margin: 4px;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  border: 2px solid $secondary-ligth-theme-color;
  border-radius: 8px;
}

.reactPaginate li a {
  padding: 10px;
  outline: none;
}

.active {
  background: $main-theme-color;
  color: $light-text;
}

.breakMe {
  /* color: red; */
}
