.pagination {
  margin: 0 auto;
  padding: 0;
}

.reactPaginate li {
  @include size(1.4rem);
  display: inline-block;
  margin: 2px;
  text-align: center;
  cursor: pointer;
  border: 1px solid $secondary-ligth-theme-color;
  border-radius: $small-radius / 4;

  @media (min-width: $medium-screen-width) {
    @include size(3rem);
    margin: 4px;
    border-width: 2px;
    border-radius: $small-radius;
  }
}

.reactPaginate li a {
  @include font-settings(10px, 1rem);
  // padding: 10px;
  outline: none;

  &:hover,
  &:focus {
    font-weight: bold;
  }

  @media (min-width: $medium-screen-width) {
    @include font-settings($size-4, 3rem);
    padding: 10px;
  }
}

.active {
  background: $main-theme-color;
  color: $light-text;
}

.reactPaginate .breakMeWrapper,
.reactPaginate .next,
.reactPaginate .prev {
  border: none;
  color: $blue-text;

  &:hover,
  &:focus {
    font-weight: 600;
  }
}
